body {
    margin: 0;
    width: 100%;
    background: #220;
    background-image: url('./photo-.webp');
    background-repeat: no-repeat;
    background-position:center ;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    font-family: 'Flamenco', cursive;
    font-family: 'League Gothic', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.search-bar{
    cursor: pointer;
}

.card {
    background: #261;
    color: cornsilk;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    cursor: pointer;
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 40px;
    width: 40px;
    outline: none;
    background: #7c7c7c;
}

input.search-bar {
    border: none;
    outline: none;
    padding: .6em;
    border-radius: 20px;
    background: #7c7c7c;
    color: white;
    font-family: inherit;
    font-size: 100%;
}

button:hover {
    background: #7c7c7c7c;
}
.description {
    text-transform: uppercase;
}
.flex{
    display: flex;
    align-items: center;
}

h1.temp{
    margin: 0%;
    margin-bottom: .5em;
}
